body{
    font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
    font-size: 50px
    

}
.orgcol{
    color: orange;
}
.flexible-contaniar{
    display: flex;
    margin: 100px;
}
.mitu{
    width: 50%;
    padding-left: 5%;
}
.mitu img {
    width: 80%;
}
.link-button{
    background-image: linear-gradient(orange,red);
    background-color: aqua;
    padding: 10PX 40PX;
    border-radius: 10px;
    font-weight: 800;
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}